*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:linear-gradient(180deg,#050b18,#0c1d38);
    color:white;
    min-height:100vh;
}

header{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

#logo{
    width:170px;
    border-radius:50%;
    box-shadow:0 0 35px #3cbcff;
    animation:logo 3s infinite;
}

@keyframes logo{
    50%{
        transform:scale(1.05);
    }
}

h1{
    margin-top:20px;
    font-size:60px;
    color:#5fd4ff;
    text-shadow:0 0 20px #5fd4ff;
}

.slogan{
    margin-top:20px;
    font-size:22px;
    opacity:.9;
}

#enterButton{
    margin-top:40px;
    padding:18px 45px;
    font-size:20px;
    border:none;
    border-radius:15px;
    cursor:pointer;
    background:#26a8ff;
    color:white;
    transition:.3s;
}

#enterButton:hover{
    transform:scale(1.08);
    box-shadow:0 0 25px #26a8ff;
}

#hub{
    display:none;
    padding:60px 20px;
}

#hub h2{
    text-align:center;
    margin-bottom:40px;
    font-size:40px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
    max-width:1200px;
    margin:auto;
}

.card{
    background:#102544;
    border:2px solid #3cbcff;
    border-radius:20px;
    padding:40px;
    text-align:center;
    cursor:pointer;
    transition:.3s;
    font-size:50px;
}

.card h3{
    margin-top:15px;
    font-size:22px;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 0 30px #3cbcff;
}
.hidden{
    display:none;
}

#page{
    max-width:900px;
    margin:40px auto;
    padding:30px;
    background:#102544;
    border:2px solid #3cbcff;
    border-radius:20px;
    box-shadow:0 0 30px #3cbcff;
}

#backButton{
    background:#26a8ff;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:10px;
    cursor:pointer;
    margin-bottom:20px;
}

#backButton:hover{
    background:#1b8de0;
}

#pageTitle{
    margin-bottom:20px;
    color:#5fd4ff;
}

#pageContent{
    font-size:18px;
    line-height:1.7;
}
.icon{
    font-size:60px;
    margin-bottom:20px;
}

.card p{
    color:#cfd8e3;
    font-size:15px;
    margin:15px 0 25px;
    line-height:1.5;
}

.openButton{
    width:100%;
    padding:14px;
    border:none;
    border-radius:12px;
    background:#2daeff;
    color:white;
    font-size:17px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

.openButton:hover{
    background:#58c5ff;
    transform:scale(1.03);
    box-shadow:0 0 20px #2daeff;
}

.card{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    min-height:320px;
}
